# {{ansible_managed}}
# https://mariadb.org/download/

X-Repolib-Name: MariaDB
Types: deb
URIs: {{ mariadb_repo_url }}
Suites: {{ansible_distribution_release}}
Components: main
Signed-By: /etc/apt/keyrings/MariaDB.gpg